.wd-sizing {
  font-size: 0.7em;
  margin-left: -6px;
}
.wd-search-tuiter {
  bottom: 11px;
  left: 10px;
}
.wd-small-d {
  font-size: 15px;
  margin: 0px;
}
.wd-small-text {
  margin: 0px;
  font-size: 15px;
}
.wd-img {
  padding: 0px;
}

